In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd

block_geo_data = gpd.read_file('/Users/jamesswank/Python_Projects/CensusBlocks/assets/blocks4.json')
block_geo_data['GEOID'] = block_geo_data['GEOID'].astype(int)
print(block_geo_data)

     TRACTCE20 BLOCKCE20          GEOID20      NAME20  ALAND20  AWATER20  \
0       004951      1000  080050049511000  Block 1000     4351         0
1       004951      1001  080050049511001  Block 1001     8112         0
2       004951      1002  080050049511002  Block 1002    36082         0
3       004951      1003  080050049511003  Block 1003    10670         0
4       004951      1004  080050049511004  Block 1004     5573         0
...        ...       ...              ...         ...      ...       ...
7894    980000      1024  080059800001024  Block 1024  1785676         0
7895    980000      1025  080059800001025  Block 1025  2927088         0
7896    980000      1026  080059800001026  Block 1026    70757         0
7897    980000      1027  080059800001027  Block 1027     4231         0
7898    980000      1028  080059800001028  Block 1028        6         0

       INTPTLAT20    INTPTLON20           GEOID  Shape_Leng    Shape_Area  \
0     +39.7015647  -104.9289604  80050049511000    0.003080  4.569762e-07
1     +39.6993929  -104.9312191  80050049511001    0.003642  8.518607e-07
2     +39.6992874  -104.9300075  80050049511002    0.021429  3.789021e-06
3     +39.6987720  -104.9298458  80050049511003    0.005161  1.120492e-06
4     +39.6966953  -104.9316188  80050049511004    0.006906  5.852348e-07
...           ...           ...             ...         ...           ...
7894  +39.6197091  -104.8363898  80059800001024    0.108904  1.873096e-04
7895  +39.6205960  -104.8288995  80059800001025    0.124931  3.070375e-04
7896  +39.6245410  -104.8746194  80059800001026    0.071186  7.422524e-06
7897  +39.6370173  -104.8289775  80059800001027    0.006712  4.439067e-07
7898  +39.6524423  -104.8312117  80059800001028    0.000118  6.350000e-10

                                               geometry
0     POLYGON ((-104.92931 39.70204, -104.92931 39.7...
1     POLYGON ((-104.93170 39.69987, -104.93166 39.6...
2     POLYGON ((-104.93171 39.70021, -104.93170 39.6...
3     POLYGON ((-104.93081 39.69892, -104.93097 39.6...
4     POLYGON ((-104.93166 39.69822, -104.93174 39.6...
...                                                 ...
7894  POLYGON ((-104.84529 39.63256, -104.84676 39.6...
7895  POLYGON ((-104.84529 39.63256, -104.84431 39.6...
7896  POLYGON ((-104.87612 39.63139, -104.87589 39.6...
7897  POLYGON ((-104.82909 39.63795, -104.82885 39.6...
7898  POLYGON ((-104.83122 39.65246, -104.83123 39.6...

[7899 rows x 12 columns]

In [3]:
svi_data = pd.read_csv("/Users/jamesswank/Python_Projects/Food_Deserts/Colorado_SVI_2020.csv")
svi_data = svi_data[svi_data['COUNTY'] == 'Arapahoe']
svi_data['FIPS'] = svi_data['FIPS'].astype(str)
svi_data['TRACTCE20'] = svi_data['FIPS'].str[-6:]

svi_data = svi_data[['TRACTCE20', 'E_TOTPOP', 'E_POV150']]

svi_data['pct_pov'] = svi_data['E_POV150'] / svi_data['E_TOTPOP'] 
svi_data

    TRACTCE20  E_TOTPOP  E_POV150   pct_pov
112    004951      1674       397  0.237157
113    004952      3512       545  0.155182
114    005551      2940      1079  0.367007
115    005552      2492       868  0.348315
116    005553      4517       930  0.205889
..        ...       ...       ...       ...
268    087100      2674       530  0.198205
269    087200      3907      1198  0.306629
270    087301      5206       812  0.155974
271    087302      2527       755  0.298773
272    980000        21         5  0.238095

[161 rows x 4 columns]

In [7]:
df = pd.merge(block_geo_data, svi_data, on="TRACTCE20")
df

,TRACTCE20,BLOCKCE20,GEOID20,NAME20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,GEOID,Shape_Leng,Shape_Area,geometry,E_TOTPOP,E_POV150,pct_pov
0,004951,1000,080050049511000,Block 1000,4351,0,+39.7015647,-104.9289604,80050049511000,0.003080,4.569762e-07,"POLYGON ((-104.92931 39.70204, -104.92931 39.7...",1674,397,0.237157
1,004951,1001,080050049511001,Block 1001,8112,0,+39.6993929,-104.9312191,80050049511001,0.003642,8.518607e-07,"POLYGON ((-104.93170 39.69987, -104.93166 39.6...",1674,397,0.237157
2,004951,1002,080050049511002,Block 1002,36082,0,+39.6992874,-104.9300075,80050049511002,0.021429,3.789021e-06,"POLYGON ((-104.93171 39.70021, -104.93170 39.6...",1674,397,0.237157
3,004951,1003,080050049511003,Block 1003,10670,0,+39.6987720,-104.9298458,80050049511003,0.005161,1.120492e-06,"POLYGON ((-104.93081 39.69892, -104.93097 39.6...",1674,397,0.237157
4,004951,1004,080050049511004,Block 1004,5573,0,+39.6966953,-104.9316188,80050049511004,0.006906,5.852348e-07,"POLYGON ((-104.93166 39.69822, -104.93174 39.6...",1674,397,0.237157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7894,980000,1024,080059800001024,Block 1024,1785676,0,+39.6197091,-104.8363898,80059800001024,0.108904,1.873096e-04,"POLYGON ((-104.84529 39.63256, -104.84676 39.6...",21,5,0.238095
7895,980000,1025,080059800001025,Block 1025,2927088,0,+39.6205960,-104.8288995,80059800001025,0.124931,3.070375e-04,"POLYGON ((-104.84529 39.63256, -104.84431 39.6...",21,5,0.238095
7896,980000,1026,080059800001026,Block 1026,70757,0,+39.6245410,-104.8746194,80059800001026,0.071186,7.422524e-06,"POLYGON ((-104.87612 39.63139, -104.87589 39.6...",21,5,0.238095
7897,980000,1027,080059800001027,Block 1027,4231,0,+39.6370173,-104.8289775,80059800001027,0.006712,4.439067e-07,"POLYGON ((-104.82909 39.63795, -104.82885 39.6...",21,5,0.238095
7898,980000,1028,080059800001028,Block 1028,6,0,+39.6524423,-104.8312117,80059800001028,0.000118,6.350000e-10,"POLYGON ((-104.83122 39.65246, -104.83123 39.6...",21,5,0.238095

In [8]:
df.columns

Index(['TRACTCE20', 'BLOCKCE20', 'GEOID20', 'NAME20', 'ALAND20', 'AWATER20',
       'INTPTLAT20', 'INTPTLON20', 'GEOID', 'Shape_Leng', 'Shape_Area',
       'geometry', 'E_TOTPOP', 'E_POV150', 'pct_pov'],
      dtype='object')